body {
	background-color: #696969;
}

li {color: black;}
ul {font-size: 25px;}
li:first-child {font-weight: bold;}

a {
	text-decoration: none;
	color: black;
	margin: 15px;
	font-family: sans-serif;
	font-weight: bold;
}

span {color: #E65C00;}

h4 {font-size: 1.1em;}

.special {
	background-color: #000000;
	text-align: center;
	margin-left: -10px;
	margin-right: -10px;
	height: 90px;
	line-height: 90px;
}

.special p {
	font-size: 2em;
	color: #FFFFFF;
	font-family: sans-serif;
}

#sidebar {
	background-color: #E65C00;
	width: 300px;
	float: right;
	height: 75px;
	margin-top: -25px;
	margin-right: 150px;
	border-radius: 10px;
	text-align: center;
	line-height: 15px;
	border: 6px solid black;
}

#sidebar p {color: black; font-weight: bold; letter-spacing: 6px;}

section {
	text-align: center;
	font-family: serif; 
	font-size: 20px;
	color: #000000;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 10px;
	width: 800px;
	margin: auto;
	margin-top: 100px;
	border: 5px solid black;
}

article {
	padding: 0px 30px 0px 30px;
	font-size: 15px;
	font-family: sans-serif;
	text-align: justify;
}

header {margin-top: -33px;}

footer {
	margin-bottom: -10px;
	margin-top: 50px;
	font-size: .75em;

}