footer {
  background-color: black;
  padding: 5px;
  text-align: center;
}
  footer li {
    display: inline-block;
    color: rgb(240, 240, 240);
    margin-right: 10px;
  }
  footer a:hover {
    text-decoration: underline;
  }

a {
  text-decoration: none;
  color: rgb(240, 240, 240);
}
