body {
	background-image: url(../images/background.png);
	/*background-image: url(../unit1_projects/images/Website_Design2.png);*/
	background-repeat: no-repeat;
	background-position: 0px -200px;
}

h3 {
	margin-left: 56px;
	color: #28697f;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;	
}

a {
	text-decoration: none;
	color: #28697f;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

a:hover { text-decoration: underline; }

header { position: relative; } 

h1 { 
	z-index: 100; 
	position: absolute; 
} 

header h1 {
	font-family: PT Mono; 
	font-size: 50px;
	font-weight: lighter;
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

#name {
	top: 85px;
	left: -5px;
	color: #bd2b22;
}

#dev {
	top: 140px;
	left: 102px;
	color: #2c7188;
}

#film {
	top: 125px;
	left: 210px;
	color: #009401;
}

#info {
	z-index: 100; 
	position: absolute;
	top: 525px;
	left: 550px;
	width: 550px;
}

li { 
	color: #28697f;
	float: left; 
	list-style-type: disc; 
	margin-right: 30px; 
}

.hide { list-style-type: none; }

#links {
	border-radius: 15px;
	z-index: 100;
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

#links img {
	-webkit-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	transform: rotate(25deg);
}

#gh {
	position: absolute;
	top: 173px;
	left: 366px;
	width: 250px;

}

#gh2 {
	position: absolute;
	top: 174px; 
	left: 316px; 
	display: none;
	width: 250px;
}

#fb {
	position: absolute;
	top: 264px;
	left: 398px;
	width: 250px;
}

#fb2 {
	position: absolute;
	top: 265px;
	left: 348px;
	width: 250px;
	display: none;
}

#li {
	position: absolute;
	top: 366px;
	left: 428px;
	width: 250px;
}

#li2 {
	position: absolute;
	top: 367px;
	left: 388px;
	width: 250px;
	display: none;
}

#links h1 {
	font-size: 2em;
	color: white;
	bottom: -20px;
	left: 70px;
	display: none;
	padding: 10px 5px 10px 25px;
}


