body {
	background-image: url(../images/background.png);
	/*background-image: url(../unit1_projects/images/Website_Design2.png);*/
	background-repeat: no-repeat;
	background-position: 0px -200px;
}

h3 {
	margin-left: 56px;
	color: #28697f;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;	
}

a {
	text-decoration: none;
	color: #28697f;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

a:hover { text-decoration: underline; }

header { position: relative; } 

header h1 {
	font-family: PT Mono; 
	font-size: 50px;
	font-weight: lighter;
	position: absolute;
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

#name {
	top: 85px;
	left: -5px;
	color: #bd2b22;
}

#dev {
	top: 140px;
	left: 102px;
	color: #2c7188;
}

#film {
	top: 125px;
	left: 210px;
	color: #009401;
}

#info {
	position: absolute;
	top: 525px;
	left: 550px;
	width: 550px;
}

li { 
	color: #28697f;
	float: left; 
	list-style-type: disc; 
	margin-right: 30px; 
}

.hide { list-style-type: none; }

.links { position: relative; }

.links div { 
	position: absolute; 
	width: 250px;
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

#gh {
	top: 175px;
	left: 455px;
}

#gh2 {
	top: 194px; 
	left: 415px; 
	display: none;
}

#fb {
	top: 250px;
	left: 525px;
}

#fb2 {
	top: 269px;
	left: 485px;
	display: none;
}

#li {
	top: 325px;
	left: 590px;
}

#li2 {
	top: 344px;
	left: 550px;
	display: none;
}

.links h1 {
	font-size: 2em;
	color: white;
	display: none;
	margin-left: 25px;
	position: absolute;
	top: -5px;
}


#li2 h1 { top: 0px; }


