body {
	background-image: url(../images/background.png);
	/*background-image: url(../unit1_projects/images/Website_Design2.png);*/
	background-repeat: no-repeat;
	background-position: 0px -200px;
}


/* Header */

header { position: relative; } 

header h1 {
	font-family: PT Mono; 
	font-size: 50px;
	font-weight: lighter;
	position: absolute;
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

#name {
	top: 85px;
	left: -5px;
	color: #bd2b22;
}

#dev {
	top: 140px;
	left: 102px;
	color: #2c7188;
}

#film {
	top: 125px;
	left: 210px;
	color: #009401;
}


/* Info */

#info {
	position: absolute;
	top: 500px;
	left: 550px;
	width: 550px;
	height: 500px;
}

#info img {
	width: 400px;
	margin-left: 50px;
}

h3 {
	margin-left: 56px;
	color: #28697f;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;	
}

li { 
	color: #28697f;
	float: left; 
	list-style-type: disc; 
	margin-right: 30px; 
}

a {
	text-decoration: none;
	color: #28697f;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

a:hover { text-decoration: underline; }

.hide { list-style-type: none; }


/* Links */

.links { position: relative; }

.links div { 
	width: 200px;
	height: 70px;
	position: absolute;
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

#gi {
	top: 185px;
	left: 455px;
}

#vi {
	top: 258px;
	left: 515px;
}

#li {
	top: 339px;
	left: 595px;
}

.links h1 {
	font-size: 2em;
	color: white;
	display: none;
	position: absolute;
	top: -5px;
	left: 90px;
}

.links img { 
	height: 80px; 
	-webkit-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	transform: rotate(25deg);
}

#vi img { height: 90px; }

#vi h1 { top: 0px; left: 95px; }

#li h1 { left: 100px; }
